<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="onTabNavigate('dashboard')">
      <ion-icon name="md-apps"></ion-icon>
      <!--         <ion-label>Dashboard</ion-label>
 -->
    </ion-tab-button>

    <ion-tab-button (click)="onTabNavigate('goals')">
      <ion-icon name="md-medal"></ion-icon>
      <!--         <ion-label>Goals</ion-label>
 -->
    </ion-tab-button>

    <ion-tab-button (click)="onTabNavigate('library')">
      <ion-icon name="md-bookmarks"></ion-icon>
      <!--         <ion-label>Book Shelf</ion-label>
 -->
    </ion-tab-button>

    <ion-tab-button (click)="onTabNavigate('profile')">
      <ion-icon name="contact"></ion-icon>
      <!--         <ion-label>Me</ion-label>
 -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
