<div class="container">
  <div class="header">
    <h4>Weekly Progress</h4>
    <button class="btn-link">View All</button>
  </div>
  <div class="stats">
    <div class="secondary-text">{{ bookshelf.length }} Books</div>
  </div>
  <div class="book-grid">
    <div class="book-container"><div class="book-item">f</div></div>
    <div class="book-container"><div class="book-item">f</div></div>
    <div class="book-container"><div class="book-item">f</div></div>
    <div class="book-container"><div class="book-item">f</div></div>
    <div class="book-container"><div class="book-item">f</div></div>
    <div class="book-container"><div class="book-item">f</div></div>
  </div>
</div>
