.dashboard-container{
    height:100vh;
    width:100%;
    padding:30px;
}

.greeting{
    font-size: 14px;
    color: #A6A6A6;
    letter-spacing: 0;

    .primary{
        font-size: 28px;
        color: #19007C;
        letter-spacing: 0;
    }
}

